body {
    margin: 0;
}
header {
    padding: 10px 20px;
    background-color: var(--background-color);
    color: var(--white);
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.header__logo {
    font-size: 25px;
    letter-spacing: 6px;
    @media (max-width: 991px) {
        font-size: 20px;
    }  
   color: var(--white);
   font-family: var(--multiLight);
}
nav {
    display: flex;
    gap: 15px;
}
nav a {
    color: var(--white);
    text-decoration: none;
    padding: 8px 0;
    margin: 0 15px;
    transition: background-color 0.3s ease;
    font-family: var(--multiSemiBold);
    border-bottom: 3px solid transparent;

}
nav a:hover {
    border-bottom: 3px solid var(--white);
}
.header__menu-icon {
    display: none;
    cursor: pointer;
    font-size: 25px;
}
.header__cart-img {
    mix-blend-mode: multiply;
    width: 40px;
    height: 40px;
}
@media (max-width: 768px) {
    nav {
        display: none;
        flex-direction: column;
        gap: 10px;
        background-color: var(--background-color);
        position: absolute;
        top: 60px;
        right: 20px;
        padding: 10px;
        border-radius: 5px;
    }
    nav.active {
        display: flex;
    }
    .header__menu-icon {
        display: block;
    }
}
