
@import url("./variable.css");
@import url("../components/header/header.css");
@import url("../components/card/card.css");
@import url("../components/filter/filter.css");
@import url("../components/sort/sort.css");
@import url("../components/loader/loader.css");
@import url("../components/hero-banner/banner.css");
@import url("../components/footer/footer.css");

body {
    font-family: var(--baseFont);
    font-size: 16px;
    line-height: 24px;
}
.d-flex {
    display: flex;
}
.d-none {
    display: none;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    @media (min-width: 768px) and (max-width: 1199px) {
        padding-left: 20px;
    }
}
.product-listing__fav-icon {
    cursor: pointer;
}
button {
    cursor: pointer;
}
@media (min-width: 992px) {
    .d-lg-flex {
        display: flex;
    }
    .d-lg-block {
        display: block;
    }
    .d-lg-none {
        display: none;
    }
}
.error {
    color: var(--error);
    padding: 0 15px;
}