
.banner-content__left {
    min-width: 35%;
    background-color: var(--banner-left-bg);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media (max-width: 991px) {
        order: 1;
        position: relative;
        left: 50%;
        transform: translate(-50%, -30%);
        padding: 15px 0 25px;
        max-width: 80%;
    }
}
.banner-content {
    padding-top: 65px;
    @media (max-width: 991px) {
        flex-direction: column;
    
    }
}
.banner-content img{
    @media (max-width: 991px) {
        height: 190px;
    }
}

.banner-content__title {
    color: var(--white);
    text-align: center;
    font-family: var(--sourceSeriPro-semiBold);
    line-height: 42px;
    margin-top: 0;
    font-size: 36px;
}
.border-blue-line {
    background-color: var(--background-color);
    width: 70px;
    height: 5px;
    display: block;
}
.banner-content__img {
    width: 100%;
    object-fit: cover;
    @media (min-width: 1024px) {
        width: 65%;
        
    }
}