.footer {
    background-color: var(--white);
    color: var(--black);
    padding: 20px 0 0;
    text-align: center;
    font-size: 16px;
    border-top: 2px solid var(--footer-border-color);
    @media (max-width: 1023px) {
        padding: 0; 
    }
}

.footer.container {
    text-align: left;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
   
}
.footer-container p {
    color: var(--footer-text-color);
}
.footer-section {
    margin: 10px 10px 30px;
    min-width: 200px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* max-width: 90%; */
    flex-wrap: nowrap;
    @media (max-width: 1023px) {
        flex-direction: column;
    }
}
.footer-section__text {
    max-width: 300px;
    text-align: left;
    @media (max-width: 1023px) {
        max-width: 100%;
    }
}
.footer-section h2 {
    margin-top: 0;
}

.footer-section p, .footer-section ul {
    margin: 10px 0;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin: 5px 0;
}

.footer-section ul li a, .footer-section div {
    color: var(--footer-anchor-color);
    text-decoration: none;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}
.footer-bottom {
    padding: 15px 0;
    border-top: 2px solid var(--footer-border-color);
    @media (max-width: 1023px) {
        padding: 25px 0;
    }
   
}
.footer-bottom .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 1023px) {
        flex-direction: column;
        align-items: center;
    }
}
.footer-bottom .container div {
    @media (max-width: 1023px) {
     margin-bottom: 20px;
    }
}
.footer-bottom__logo {
    color: #181C24;
    font-size: 18px;
    letter-spacing: 6px;
    @media (max-width: 1023px) {
        order: 2;
    }
}
.footer-bottom__copyright {
    color: #545D63;
    line-height: 18px;
    font-size: 14px;
    @media (max-width: 1023px) {
        order: 1;
    }
}
.footer-bottom__policy {
    @media (max-width: 1023px) {
        order: 0;
    }
}
.footer-bottom__policy ul {
    display: flex;
    list-style-type: none;
    margin: 0;
}
.footer-bottom__policy li {
    color: #172026;
    font-size: 14px;
    line-height: 18px;
    padding-right: 10px;
    text-decoration: underline;
    cursor: pointer;
}
